icomoon-font-path ?= "../fonts/icomoon"  

icon-menu_24 = "\e900"
icon-phone = "\e910"
icon-subscription_48 = "\e901"
icon-letter = "\e902"
icon-cards = "\e904"
icon-location = "\e905"
icon-products = "\e906"
icon-discount = "\e907"
icon-map = "\e908"
icon-medal = "\e909"
icon-stopwatch = "\e90a"
icon-user = "\e90b"
icon-settings = "\e90c"
icon-circle-up = "\e90d"
icon-circle-down = "\e90e"
icon-arrow-left = "\e90f"
icon-arrow-right = "\e911"
icon-search = "\e912"
icon-facebook = "\ea90"
icon-twitter = "\ea96"
icon-linkedin = "\eaca"

