//$color_1 = #295161
//$color_1 = #292e34

$color_1 = #fff
$color_2 = #464646
$color_3 = #111
$color_4 = #081F37
//$color_5 = #5FC9F3
$color_5 = #02afe0
$color_6 = #fafafa
$color_7 = #111
$color_8 = #ffbc42
$color_9 = #b1b1b1
$color_10 = #000
$color_11 = #eeeeee
$color_12 = #ff8100

$color_13  = #ffffcc
$color_14  = #CCCC00
$color_15  = #FFCCCC
$color_16  = #FF9999
$color_17  = #99CCFF
$color_18  = #3399FF
$color_19  = #CCFFCC
$color_20  = #99CC99

$opacity_8 = rgba(0,0,0,.8)
$opacity_5 = rgba(0,0,0,.5)
$opacity_7 = rgba(0,0,0,.7)