//$color_1 = #295161
//$color_1 = #292e34
$color_1 = #343D46
$color_2 = #FFBF3F
$color_3 = #fff
$color_4 = #464646
$color_5 = #d2d2d2
$color_6 = #00b3b3
$color_7 = #111
$color_8 = #ffbc42
$color_9 = #b1b1b1
$color_10 = #000

$opacity_8 = rgba(0,0,0,.8)
$opacity_5 = rgba(0,0,0,.5)
$opacity_7 = rgba(0,0,0,.7)