@import "colors.styl"

*
	padding 0
	margin 0
	box-sizing border-box

ul, li
	list-style none

a
	text-decoration none

body
	font-size 14px
	color #111
	font-family: 'Open Sans', sans-serif;
	
.page-unit
	max-width 1300px
	margin 0 auto
	position relative
	padding 0 20px