@import "colors.styl"

.header
	color $color_3
	text-align right
	background url(../img/bg/header_2.jpg) center no-repeat
	background-size cover

	.inner
		background $opacity_7 url("../img/bg/dot_2.png") left top

	li
		display inline-block

	.site-logo
		position absolute
		top -15px
		left 20px
		background-color $color_3
		padding 10px 20px
		border-color $color_1
		border-style solid
		border-width 0 1px 1px


.header-info
	z-index 2
	padding 10px 0
	color $color_5
	background-color $color_1

	a
		&:hover
			color $color_3

.header-search-form
	padding 8px 0
	
	.header-search-field
		padding 5px 15px
		min-height 30px
		border-radius 2px
		vertical-align middle

	.submit-btn
		border-radius 0 3px 3px 0
		position relative
		margin-left -3px
		vertical-align middle

.header-menu
	font-size 0
	text-transform uppercase

	nav
		text-align left
		float left

	.link
		letter-spacing 1px
		font-size 15px
		color $color_3
		padding 15px
		display inline-block
		position relative

		&:after
			content ''
			position absolute
			width 0
			height	4px
			background-color $color_6
			transition width .5s ease, left .5s ease
			left 50%
			bottom 0

		&:hover:after, &.active:after
			width 100%
			left 0



	

	




