@import "colors.styl"

.header
	background-color $color_1
	color $color_3
	text-align right
	overflow hidden
	background url(../img/bg/header_5.jpg) center no-repeat
	background-size cover

	.page-unit
		padding-left 120px

	li
		display inline-block

	.header-info
		background-color $color_2
		z-index 2
		padding 15px 0

		a
			color $color_1

	.header-menu
		background-color $color_1
		padding 15px 0
		text-transform uppercase

		a
			color $color_3

		li
			padding 0 10px

	.site-logo
		position absolute
		top -15px
		left 20px
		background-color $color_2
		padding 10px 20px

	.slogan
		font-size 30px

