@import "colors.styl"

.general-logo
	text-align center
	display flex
	min-height 400px
	align-content center
	align-items center
	justify-content center
	//font-family 'Roboto Condensed', sans-serif
	font-size 19px

	.container
		padding-top 40px
		width 100%
		

.slogan
	color $color_6
	text-shadow 1px 1px 20px $color_10
	padding 20px