.main-catalog
	text-align center
	height 400px
	background-size cover

	a 
		display inline-block
		width 150px
		text-align center
		color #fff
		padding 20px
		background-color rgba(1, 1, 1, .5)
		margin 20px

